<div *ngIf="animal$ | async as animal; else loading">
  <div class="animal">
    <img src={{animal.image}} alt="animal">
    <div class="header">
      <h1>{{ animal.name }}</h1>

      <button routerLink="/" class="btn btn-link">On Main Page</button>

      <button (click)="adoptMe(animal)" [disabled]="animal.isAdopted">Adopt Me!</button>
    </div>

    <div class="info"><strong>{{ animal.breed }}</strong></div>
    <div class="info"><strong>{{ animal.gender }}</strong></div>
    <div class="info"><strong>{{ animal.age }}</strong></div>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Loading</p>
</ng-template>
