<div *ngIf="animal; else loading">
  <div class="animal-description">
    <div class="col-1 fixed-header-footer">
      <div class="col-header">
        <img src={{animal.image}} alt="animal">
      </div>
      <div class="col-content"></div>
      <div class="col-footer">
        <button class="btn btn-block btn-dark"
                (click)="adoptMe(animal)"
                [disabled]="animal.isAdopted">{{ animal.isAdopted ? "Pet was adopted" : "Adopt Me!"}}</button>
      </div>
    </div>

    <div class="col-1 fixed-header-footer">
      <div class="col-header">
        <h2>{{ animal.name }}</h2>
      </div>
      <div class="col-content">
        <div class="info"><strong>Gender: {{ animal.gender }}</strong></div>
        <div class="info"><strong>Breed: {{ animal.breed }}</strong></div>
        <div class="info"><strong>Age: {{ animal.age }}</strong></div>
        <div class="description">
          <h4>About This Pet: </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam atque autem blanditiis commodi </p>
        </div>
      </div>
      <div class="col-footer">
        <button routerLink="/" class="btn btn-block btn-success">Go To Main Page</button>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Loading</p>
</ng-template>
